hmtl, body {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0;
}

html {
    position: fixed;
}

body {
  position: relative;
}

#root {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: solid black 2px;
}